POSTGRES_USER=pod
POSTGRES_PASSWORD=pod_dev_password
POSTGRES_DB=pod
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_dev_password
MEILI_MASTER_KEY=meili_dev_master_key
MINIO_ROOT_USER=pod
MINIO_ROOT_PASSWORD=minio_dev_password
